{{ define "main" }}
<main id="content" class="content">
    <article class="content-chunk">
        <h1>{{ .Title }}</h1>
        <h5>{{ .Date.Format "02.01.2006 15:04" }}</h5>
        <div class="container">
            {{ .Content }}
        </div>
        {{ with .Params.tags }}
        <div>
            Tags:
            {{ range . }}
            <a href={{ "/tags/" | relLangURL }}{{- . | urlize -}}>{{ . }}</a>
            {{ end }}
        </div>
        {{ end }} {{ with .Site.DisqusShortname }}
        <div>
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
        <br>
        <div>
            <a href="javascript:history.back()">
                << Back</a>
                    <a href="#top">Top ^^</a>
        </div>
    </article>
</main>
{{ end }}