{{ $version := "latest" }} {{ if .GitInfo }} {{ $version = .GitInfo.AbbreviatedHash }} {{ end }}

<footer id="site-footer">
    <p>
        &copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> v: {{- $version -}}
    </p>

    {{ with .Site.Params.bandcampuser }}
    <a class="fab fa-bandcamp" style="font-size: 24px" href="https://bandcamp.com/{{.}}" target="_blank"></a>
    {{ end }} {{ with .Site.Params.dockerhubuser}}
    <a class="fab fa-docker" style="font-size: 24px" href="https://hub.docker.com/u/{{.}}" target="_blank"></a>
    {{ end }} {{ with .Site.Params.githubuser }}
    <a class="fab fa-github" rel="me" style="font-size: 24px" href="https://github.com/{{.}}" target="_blank"></a>
    {{ end }} {{ with .Site.Params.instagramuser }}
    <a class="fab fa-instagram" style="font-size: 24px" href="https://www.instagram.com/{{.}}/" target="_blank"></a>
    {{ end }} {{ with .Site.Params.soundclouduser }}
    <a class="fab fa-soundcloud" style="font-size: 24px" href="https://soundcloud.com/{{.}}" target="_blank"></a>
    {{ end }} {{ with .Site.Params.youtubeuser}}
    <a class="fab fa-youtube" style="font-size: 24px" href="https://www.youtube.com/user/{{.}}" target="_blank"></a>
    {{ end }}
</footer>