<div id="myModal" class="modal">
    <div class="modal-content">
        <img class="modal-pic" id="modalPic" onclick="closeModal()">
    </div>
    <button class="modal-close" onclick="closeModal()">X</button>
</div>

<script>
    function openModal(clicked_id) {
        var src = document.getElementById(clicked_id).src;
        if (src.includes("#")) {
            src = src.substring(0, src.indexOf("#"));
        }
        document.getElementById("modalPic").src = src;
        document.getElementById("myModal").style.display = "block";
        document.getElementById("site-header").style.display = "none";
        document.getElementById("page-content").style.display = "none";
        document.getElementById("site-footer").style.display = "none";
    }

    function closeModal() {
        document.getElementById("modalPic").src = "";
        document.getElementById("myModal").style.display = "none";
        document.getElementById("site-header").style.display = "block";
        document.getElementById("page-content").style.display = "block";
        document.getElementById("site-footer").style.display = "block";
    }
    closeModal()
</script>
